{% extends 'base.html' %}
{% block body %}
    <h2>{{the_title}}</h2>
    <form method="post" action="/exec_equation">
       <table>
           <tr>
               <td>P:</td>
               <td><input type="number" name="P" /></td>
           </tr>
           <tr>
               <td>h:</td>
               <td><input type="number" name="h" /></td>
           </tr>
            <tr>
               <td>a:</td>
               <td><input type="number" name="a" /></td>
           </tr>
         </table>
        <p>When you're ready, click this button.</p>
        <p><input type="submit" name="btn_calc"
         value="Calculate the equation" /></p>
    </form>
{% endblock%}